{% extends 'base.html' %}

{% block content %}

<section class="card card-body">
    <h1 class="display-1 text-center">TManager</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iste dolore quidem libero tempore minima iusto possimus beatae quia nisi, dolorum distinctio praesentium totam alias mollitia eveniet quas commodi laborum suscipit itaque! Quas sed rem natus minus et repudiandae facilis illum dolores iste neque. Modi dolore sint corrupti, iure voluptatem hic eaque rem eveniet! Ab non cupiditate perspiciatis excepturi animi consequatur nulla doloremque earum perferendis nostrum facilis, quis expedita consequuntur aut minima veritatis laborum voluptatum placeat ratione. Cupiditate aspernatur aperiam eveniet corporis. Ad labore voluptate vitae cum, similique libero vel enim atque quis provident quam sint, mollitia quas consectetur facere!
    </p>
    <!--{{ request.user }}
    {% if user == None %}
    <div class="text-center">
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'signup' %}" class="btn btn-secondary">Sign-up</a>        
    </div>
    {% endif %}-->
   

</section>

{% endblock %}